@media (min-width: 768px) {
    
    .header-nav {
        display: block !important; 
        position: static;           
        width: auto;
        background: none;
    }

    .header-nav ul {
        display: flex;
        flex-direction: row;
        gap: 2.3rem;
    }

    .header-nav li {
        border: none;
        padding: 0;
    }

    #menu-button {
        display: none;
    }

    #members.grid-view {
        grid-template-columns: repeat(3, 1fr);
    }

    .home-cards {
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 3rem;
    }

    .spotlight-cards {
        grid-template-columns: repeat(3, 1fr);
    }   

    .spotlight-title {
        font-size: 1.5rem;
        margin-bottom: 2rem;

    }

    .spotlight-info {
        margin-left: 1.5rem; 
    }

    .spotlight-img img {
        max-width: 110px;
    }

    .join-container {
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
    }

    .form-section {
        flex: 1;
    }

    .membership-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .membership-cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .membership-card a {
        margin-top: auto; 
    }

    .thankyou-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 600px;  
        margin: 1rem auto; 
        padding: 2rem 3rem;
        background-color: #ffffff; 
        border-radius: 12px;
        box-shadow: 0 10px 28px rgba(0,0,0,0.15);
    }

    .thankyou-page .section-title {
        margin-bottom: 0.5rem; 
    }

    .submitted-info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .return-btn-container {
        margin-top: 1.5rem; 
        justify-content: center;
        width: auto; 
    }

    .return-btn-container .hero-btn {
        width: auto; 
        padding: 0.8rem 2rem;
    }

    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 0 3rem
    }

    .footer-left,
    .footer-right {
        max-width: 300px;
    }

    .footer-center {
        justify-content: center;
    }
}