@media only screen and (min-width: 38rem) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 2px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }
    
    .home-grid {
     
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "about photo" "courses courses";
    }

    .about {
        grid-area: about;
    }

    .about p {
        font-size: 0.95rem; 
        line-height: 1.5;   
    }

    .photo {
        grid-area: photo;
    }

    .photo img {
        width: 1000%;       
        max-width: 180px;  
        margin: 1rem auto 0 auto;
    }

    .courses {
        grid-area: courses;
    }
    
    .course-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
        padding: 0.2rem;
    }

    .course-buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 1rem;
    }

    .course-buttons button {
        padding: 0.4rem 2rem;   
        font-size: 1.3rem;    
    }

    .course-list li {
        margin: 0;
    }
}