* {
    font-family: "Noto Serif", serif;
    box-sizing: border-box;
}

/*** Header ***/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    border: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 25px;
    height: auto;
    padding-bottom: 1px;
}

header span {
    font-size: 1.5rem;
    color: #192b44;
}

/*** Hamburger ***/

.hamburger{
    background: none;
    border: none;
    color:black;
    cursor: pointer;
    font-size: 1.5rem;
}

.hamburger::before{
    content: "\2630";
}

.hamburger.show::before{
    content: "\00D7";
}


/*** Navigation ***/

.navigation {
    display: none;
    background-color: #192b44;
    color: white;
}

.navigation.show {
    display: block;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .3rem 10px;
    color: white;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation a:hover {
    background-color: rgb(61, 97, 146);
    color: white;

}

h1 {
    margin-left: 10px;
     font-size: 1.8rem;
    line-height: 1.3; 
}

/***Main****/

.home-grid {
    display: grid;
    gap: 1rem;
    padding: 0 10px;
}

section {
    background-color: #eee;
    border-radius: 4px;
}

section h2 {
    background-color: #192b44;
    color: white;
    margin: 0;
    padding: .5rem;
    text-align: center;
}

section p {
    padding: 1rem;
}

.photo img {
    display: block;
    width: 90%;
    max-width: 250px;
    margin: 1rem auto;
}

.course-buttons {
    display: flex;
    justify-content: center;
    gap: .5rem;
    padding: 1rem;
}

.course-buttons button {
    padding: .5rem 1rem;
    color: white;
    background-color: #192b44;
    min-width: 120px; 
    font-size: 1.1rem; 
}

.course-buttons button:hover {
    background-color: rgb(61, 97, 146);
    color: white;
}

.course-list {
    list-style: none;
    padding: 0 1rem;
}

.course-list li{
    background-color: #ccc;
    margin-bottom: .5rem;
    padding: .5rem;
    text-align: center;
}

.credits {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 0.96rem;
    line-height: 1.4;
}

dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog button {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: .4rem .7rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background: #192b44;
    color: white;
    cursor: pointer;
}

/*** Footer ***/
footer {
    background-color: #192b44;
    color: white;
    padding: 1rem 10px;
    text-align: center;
    font-size: 0.85rem; 
    line-height: 1.4;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: rgb(61, 97, 146); 
}